<header class="fixed top-0 left-0 w-full border-b border-zinc-800 bg-zinc-900/90 backdrop-blur-[6px]">
    <div class="flex items-center mx-auto max-w-6xl px-6 py-8">
        <div class="flex-1">
            <a href="{{ link to="/" }}" class="block">
                {{ if publication:name }}
                    <img src="{{ publication:logo }}" alt="" class="max-h-8">
                {{ else }}
                    {{ publication:name }}
                {{ /if }}
            </a>
        </div>

        <div class="pl-5 relative sm:hidden" x-data="{ open : false }">
            <button class="block cursor-pointer p-2 bg-zinc-800 rounded-lg" @click="open = true">
                {{ svg src="/assets/icons/more-vertical.svg" class="h-5 w-5" }}
            </button>

            <div x-show="open" @click.outside="open = false" x-transition class="absolute top-10 right-0 shadow-lg bg-zinc-700 rounded-lg p-1 max-w-[280px] min-w-[120px] sm:static sm:block">
                <ul>
                    {{ nav:top_nav select="title|url" }}
                        <li>
                            <a href="{{ url }}" class="px-3 py-1 whitespace-nowrap block hover:bg-zinc-600 rounded-lg hover:text-white transition-colors{{ if is_current || is_parent }} text-white{{ /if }}">{{ title }}</a>
                        </li>
                    {{ /nav:top_nav  }}
                    {{ if publication:show_tags_navigation }}
                        <li>
                            <a href="{{ link to="posts/tags" }}" class="px-3 py-1 whitespace-nowrap block hover:bg-zinc-600 rounded-lg hover:text-white transition-colors{{ if is_current || is_parent }} text-white{{ /if }}">Tags</a>
                        </li>
                    {{ /if }}
                </ul>
            </div>
        </div>

        <ul class="hidden sm:inline-flex items-center">
            {{ nav:top_nav select="title|url" }}
                <li class="ml-5">
                    <a href="{{ url }}" class="hover:text-zinc-200 transition-colors{{ if is_current || is_parent }} text-white{{ /if }}">{{ title }}</a>
                </li>
            {{ /nav:top_nav  }}
            {{ if publication:show_tags_navigation }}
                <li class="ml-5">
                    <a href="{{ link to="posts/tags" }}" class="hover:text-zinc-200 transition-colors{{ if is_current || is_parent }} text-white{{ /if }}">Tags</a>
                </li>
            {{ /if }}
        </ul>
    </div>
</header>